body {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
  .mdb-input {
    width: 95%; /* or any other percentage or fixed width you prefer */
    margin: auto; /* centers the input box if it's not full-width */
  }
  .btn-register {
    padding: 0.75rem 1.5rem;  /* Duże paddingi dla lepszej widoczności */
    font-size: 1.25rem;       /* Większa czcionka */
    color: #fff;              /* Biały tekst */
    background-color: #1266F1; /* Niebieskie tło */
    border: none;             /* Brak obramowania */
    border-radius: 0.5rem;    /* Zaokrąglone rogi */
    transition: background-color 0.3s; /* Animacja tła przy hover */
  }
  
  .btn-register:hover {
    background-color: #0d6efd; /* Ciemniejszy niebieski przy hover */
  }
  .label-fade {
      transition: opacity 0.5s ease;
     opacity: 0;
  }

 .label-visible {
     opacity: 1;
   }